<launch>
    <arg name="pkg" default="pinit_pkg" />
    <include file="$(eval find(pkg) + '/launch/lidar.launch')"></include>
    <include file="$(eval find(pkg) + '/launch/create_2.launch')"></include>

    <node pkg="tf"
         type="static_transform_publisher"
         name="tf_laser_frame"
         args="0 0 0 0 0 0 base_link laser_frame 100"/>

</launch>
